@import '../../variables.scss';

.featureItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
  user-select: none;

  .featureImage {
    max-width: 30px;
    max-height: 30px;
  }

  .featureText {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    flex-wrap: wrap;
  }

  @media($tablet-query) {
    gap: 20px;

    .featureImage {
      max-width: 30px;
      max-height: 30px;
    }
  
    .featureText {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  @media($laptop-query) {
    gap: 30px;

    .featureImage {
      max-width: 40px;
      max-height: 40px;
    }
  
    .featureText {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}