@import '../../variables.scss';

#topSection {
  background-color: $primary-color;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  padding-inline: 10px;

  .openMenu {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    inset-inline-end:15px;
    inset-block-start:15px;
    padding: 0;
    border: none;
    width: 40px;
    height: 40px;
    z-index: 3;

    @media ($tablet-query) {
      display: none;
      visibility: hidden;
    }
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .menuTop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      visibility: hidden;
      opacity: 0;
      display: flex;
      flex-direction: column;
      background-color: $white;
      align-items: center;
      padding-block: 120px;
      z-index: 2;
      transition: all 0.3s linear;

      .logo {
        max-width: 180px;
        max-height: 180px;
  
        >img {
          width: 100%;
          height: 100%;
        }
      }

      .headerNav {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        gap: 30px;
        text-align: center;
        font-weight: bold;
        font-size: $small;
      }
    }
    .menuTop.active {
      visibility: visible;
      opacity: 1;
    }

  }
  .topSectionContent {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;

    .topSectionText {
      h1 {
        font-size: $medium;
      }
      h2 {
        font-size: $small;
        font-weight: normal;
        color: $gray;
      }
      p {
        font-size: $xsmall;
        color: $gray;
      }
    }

    .oSIconsContainer {
      display: flex;
      flex-direction: row;
      gap: 25px;
      align-items: center;
      justify-content: center;

      img {
        max-width: 35px;
        max-height: 35px;
      }
    }

    .topSectionImage {
      position: relative;
      padding: 15px;

      .imageTopSection {
        width: 100%;
        height: 100%;
      }
    }
  }
  .carouselStages {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10px;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 15px;

    .carouselStagesCircle {
      background-color: rgba(255, 255, 255, 0.76);
      width: 10px;
      height: 100%;
      border-radius: 100%;
    }
  }

  @media ($tablet-query) {
    padding: $paddingSection-tablet;
    header {
      .menuTop {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 100px;
        visibility: visible;
        opacity: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0;
  
        box-sizing: border-box;
  
        background-color: $primary-color;
  
        .headerNav {
          display: flex;
          flex-direction: row;
          margin-top: 0;
          font-size: 18px;
        }
      }
    }
    .topSectionContent {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      text-align: left;
      gap: 30px;
  
      .topSectionText {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        height: auto;
        max-width: 400px;
        h1 {
          font-size: $medium;
        }
        h2 {
          font-size: $small;
          font-weight: normal;
          color: $gray;
        }
        p {
          font-size: $xsmall;
          color: $gray;
        }
      }
  
      .oSIconsContainer {
        display: flex;
        flex-direction: row;
        gap: 25px;
        align-items: center;
        justify-content: flex-start;
  
        img {
          max-width: 35px;
          max-height: 35px;
        }
      }
  
      .topSectionImage {
        max-width: 280px;
        max-height: 430px;
        padding: 0;
  
        .imageTopSection {
          width: 100%;
          height: 100%;
        }
      }
    }
    .carouselStages {
      background-color: transparent;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 15px;
      align-items: center;
      justify-content: space-around;
      margin-top: 20px;
      padding-bottom: 5px;
  
      .carouselStagesCircle {
        background-color: rgba(255, 255, 255, 0.76);
        width: 15px;
        height: 100%;
        border-radius: 100%;
      }
    }
  }

  @media ($laptop-query) {
    padding: $paddingSection-laptop;
    max-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      .menuTop {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        max-width: $maxWidth-laptop;
        max-height: 100px;
        visibility: visible;
        opacity: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0;
  
        box-sizing: border-box;
  
        background-color: $primary-color;
  
        .headerNav {
          display: flex;
          flex-direction: row;
          margin-top: 0;
          font-size: 20px;
        }
      }
    }
    .topSectionContent {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      text-align: left;
      gap: 20px;
      width: 100%;
      max-width: $maxWidth-laptop;
  
      .topSectionText {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        height: auto;
        max-width: 420px;
        gap: 90px;
        h1 {
          font-size: $medium;
        }
        h2 {
          font-size: $small;
          font-weight: normal;
          color: $gray;
        }
        p {
          font-size: $xsmall;
          color: $gray;
        }
      }
  
      .oSIconsContainer {
        display: flex;
        flex-direction: row;
        gap: 25px;
        align-items: center;
        justify-content: flex-start;
  
        img {
          max-width: 35px;
          max-height: 35px;
        }
      }
  
      .topSectionImage {
        max-width: 316px;
        max-height: 470px;
  
        .imageTopSection {
          width: 100%;
          height: 100%;
        }
      }
    }
    .carouselStages {
      background-color: transparent;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 15px;
      align-items: center;
      justify-content: space-around;
      margin-top: 20px;
      padding-bottom: 5px;
  
      .carouselStagesCircle {
        background-color: rgba(255, 255, 255, 0.76);
        width: 15px;
        height: 100%;
        border-radius: 100%;
      }
    }
  }
}