@import '../../variables.scss';

#bottomSection {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  padding-inline: 20px;
  padding-block: 25px;
  background-color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;

  .title {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
    h2 {
      color: $primary-color;
      font-size: $small;
      padding: 0;
      margin: 0;
    }
    p {
      color: $gray;
      font-size: $xsmall;
      padding: 0;
      margin: 0;
    }
  }

  .formEmail {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
    input {
      width: 90%;
      max-height: 80px;
      margin: 0;
      border: none;
      outline: none;
      border-radius: 6px;
      padding: 16px;
      text-align: left;
    }

    button {
      max-height: 80px;
      max-width: 180px;
      padding: 16px;
      background-color: $primary-color;
      color: $black;
      font-size: 15px;
      font-weight: bold;
      border: none;
      border-radius: 6px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  .socialLogoFooter {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: $white;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;

    a {
      color: $white;
      text-decoration: none;
    }

    .footerColumns {
      display: flex;
      flex-direction: row;
      gap: 15px;
      max-width: 100%;
      margin-block: 15px;
      justify-content: center;
      align-items: flex-start;
    }

    .firstColumn, .secondColumn, .thirdColumn, .fourthColumn {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 10px;
      justify-content: space-evenly;
    }
  }

  @media ($tablet-query) {
    padding: $paddingSection-tablet;
    max-height: 100vh;
    gap: 40px;

    footer {
      flex-direction: row;
      gap: 45px;
      justify-content: center;

      .addressFooter {
        font-size: $xsmall;
        max-width: 250px;
        text-align: left;
      }

      .footerColumns {
        gap: 45px;
        text-align: left;
      }
    }
  }

  @media ($laptop-query) {
    padding: $paddingSection-laptop;
    max-height: 100vh;
    gap: 40px;

    .title {
      max-width: 800px;
    }

    .formEmail {
      max-width: 800px;
      flex-direction: row;
      input {
        max-width: 600px;
      }
    }

    .socialLogoFooter{
      max-width: 800px;
      gap: 30px;
    }

    footer {
      max-width: 800px;
      flex-direction: row;
      gap: 80px;
      justify-content: center;
      align-items: flex-start;

      .addressFooter {
        font-size: $xsmall;
        max-width: 250px;
        text-align: left;
        height: 100%;
      }

      .footerColumns {
        gap: 80px;
        text-align: left;
        font-size: $xsmall;
        margin-block: 0;
      }
    }
  }
}