$primary-color: #fcdb00;
$black: #000000;
$white: #ffffff;
$gray: #605e4f;

$tablet-query: "min-width: 768px";
$laptop-query: "min-width: 1024px";

$paddingSection-tablet: 50px 8%;
$paddingSection-laptop: 40px 140px;

$maxWidth-laptop: 1200px;

$xxsmall: 0.4rem;
$xsmall: 0.8rem;
$small: 1.6rem;
$medium: 2rem;
$xmedium: 2.4rem;
$large: 3.2rem;
$xlarge: 4rem;
$xxlarge: 4.8rem;
$huge: 5.6rem;

