@import '../../variables.scss';

#midSection {
  background-color: $white;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  padding-inline: 10px;
  gap: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .textFeatures {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h2 {
      font-size: $medium;
    }
    p {
      font-size: $xsmall;
      color: $gray;
    }
  }

  .gridFeatures {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 15px;
    margin-bottom: 25px;

    h3 {
      padding: 0;
      margin: 0;
      font-size: $small;
    }
    p {
      padding: 0;
      margin: 0;
      font-size: $xsmall;
      color: $gray;
    }
  }

  @media($tablet-query) {
    padding: $paddingSection-tablet;

    max-height: 100vh;

    .gridFeatures {
      gap: 25px;
    }
  }
  @media($laptop-query) {
    padding: $paddingSection-laptop;
    max-height: 100vh;

    .textFeatures {
      max-width: 800px;
      flex-wrap: wrap;
    }

    .gridFeatures {
      width: 100%;
      max-width: $maxWidth-laptop;
      gap: 80px;
    }
  }
}